# Python
__pycache__/
*.py[cod]
*.pyo
venv/
env/
*.egg-info/
dist/
build/
.eggs/
db.sqlite3
*.sqlite3

# Django
django_backend/.env
django_backend/staticfiles/

# Node
node_modules/
node_backend/.env
node_backend/database.sqlite
*.log
npm-debug.log*

# React / Vite
react_frontend/.env
react_frontend/dist/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
